flows.json
[{"id":"ec4cc369.b8219","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"b45c153c.526c28","type":"ui_gauge","z":"ec4cc369.b8219","name":"Random_number","group":"6d5e6764.797288","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":590,"y":80,"wires":[]},{"id":"7cd459af.b63ca8","type":"mqtt in","z":"ec4cc369.b8219","name":"","topic":"motion_distance","qos":"2","datatype":"auto","broker":"5f47a970.e55f48","nl":false,"rap":true,"rh":0,"x":350,"y":120,"wires":[["b45c153c.526c28","1cd3ad3f.e54433"]]},{"id":"1cd3ad3f.e54433","type":"camerapi-takephoto","z":"ec4cc369.b8219","filemode":"1","filename":"image2.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"9","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":450,"y":280,"wires":[["66b46f42.dcf1b","736b7d54.e4df84"]]},{"id":"66b46f42.dcf1b","type":"image viewer","z":"ec4cc369.b8219","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":510,"y":360,"wires":[[]]},{"id":"736b7d54.e4df84","type":"tensorflowCoco","z":"ec4cc369.b8219","name":"","modelUrl":"http://127.0.0.1:1880/coco/model.json","scoreThreshold":0.5,"passthru":"false","lineColour":"magenta","x":720,"y":280,"wires":[["39f29f52.49dfb","f1f889a3.319a38"]]},{"id":"39f29f52.49dfb","type":"debug","z":"ec4cc369.b8219","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":160,"wires":[]},{"id":"f1f889a3.319a38","type":"function","z":"ec4cc369.b8219","name":"","func":"let personDetected = false;\n\nfor (let object of msg.payload) {\n    if (object.class === 'cat') {\n        personDetected = true;\n        break;\n    }\n}\nmsg.payload = personDetected;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":300,"wires":[["8dc8efa.b39831","b116e91a.006c58"]]},{"id":"8dc8efa.b39831","type":"debug","z":"ec4cc369.b8219","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":300,"wires":[]},{"id":"b116e91a.006c58","type":"mqtt out","z":"ec4cc369.b8219","name":"servo","topic":"ABC_msg","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f47a970.e55f48","x":1060,"y":440,"wires":[]},{"id":"6d5e6764.797288","type":"ui_group","name":"Default","tab":"cf0308f3.2fb5a8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5f47a970.e55f48","type":"mqtt-broker","name":"","broker":"192.168.8.104","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cf0308f3.2fb5a8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]